langchain-core>=1.0.0
langgraph
astrapy
PyPDF2
langchain-text-splitters
langchain-huggingface
sentence-transformers
langchain-groq
fastapi
pydantic
uvicorn
python-multipart
requests
pymupdf
langchain-astradb
defusedxml
orjson
streamlit
ragas==0.4.0

